body {
  background: #f5ece5 !important;
  color: #000;
  text-align: center;
}
body .container header img {
  width: 100%;
}
nav ul {
  background-color: #fff;
  padding-top: 10px;
  list-style: none;
  font-size: 2rem;
}
nav ul li {
  display: inline;
  margin: 10px;
}
table {
  border: 1px solid #000;
}
table td,
table th {
  border: 1px solid #000;
  padding: 2px 10px;
}
.form-control {
  margin-bottom: 15px;
}
